<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registros Diarios</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="csrf-token" content="{{ csrf_token }}">
</head>
<body  style="background-color:#1D1D1D;color: white">
<div class="container mt-5" style="display:flex">
<form method="POST" action="{% url 'index'%}" style="margin: 10px">
    {% csrf_token %}
    <button type="submit" class="btn" style="background-color:#25D162;color: white">Regresar</button>
</form>
<form method="POST" action="{% url 'carga_datos'%}" style="margin: 10px">
    {% csrf_token %}
    <button type="submit" class="btn" style="background-color:#559;color: white;display: flex;justify-content: center;align-items: center">Cargar Archivo<i class="material-icons" style="text-align: center">upload_file</i></button>
</form>
</div>
    <div class="container mt-4">
        <h1>Registros Diarios</h1>
        <table class="table table-striped table-hover table-sm table-dark">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Detalles</th>
                    <th>Documento</th>
                </tr>
            </thead>
            <tbody>
                {% for registro in registros %}
                <tr>
                    <td>{{ registro.fecha }}</td>
                    <td>
                      <a href="{% url 'detalle_registro_diario' pk=registro.pk %}" class="btn btn-primary" style="text-align: center">Ver Usuarios</a>
                    </td>
                    <td>
                        <form method="POST" action="{% url 'descargar_archivo' pk=registro.pk %}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary" style="display: flex;justify-content: center;align-items: center">Descargar<i class="material-icons" style="text-align: center">download</i></button>
                        </form>
                        </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3">No hay registros disponibles.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <h2>Usuarios Atendidos Hoy</h2>
        <table class="table table-striped table-hover table-sm table-dark">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Cédula</th>
                    <th>Edad</th>
                    <th>Fecha</th>
                </tr>
            </thead>
            <tbody>
                {% for usuario in usuarios_atendidos %}
                    {% if usuario.fecha_registro %}
                <tr>
                    <td>{{ usuario.nombre }}</td>
                    <td>{{ usuario.cedula }}</td>
                    <td>{{ usuario.edad }} Años</td>
                    <td>{{ usuario.fecha_registro}}</td>
                </tr>
                    {% endif %}
                {% empty %}
                <tr>
                    <td colspan="3">No hay usuarios atendidos.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>










